"title": "Home",
"date": "2013/7/13 20:46:25"
;;;

<div class="curtain curtain--hidden"></div>

<main class="hero is-fullheight">
	
	<header class="hero-head header">
		<div class="level is-mobile">
			<div class="level-left">
				<div class="level-item">
					<div class="wordmark">
						CR
					</div>
				</div>
			</div>

			<div class="level-right">
				<nav class="menu menu--closed">
					<button class="hamburger hamburger--squeeze menu__toggle" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
					<section id="menu" class="menu__content">
						<ul class="menu__content__primary">
							<li class="menu__item menu__item--active"><a href="">Home</a></li>
							<li class="menu__item"><a href="">Work</a></li>
							<li class="menu__item"><a href="">Blog</a></li>
							<li class="menu__item"><a href="">Contact</a></li>
						</ul>
						<ul class="menu__content__secondary">
							<li class="menu__item"><a href="">About</a></li>
							<li class="menu__item"><a href="">Colonograph</a></li>
						</ul>
						<ul class="menu__content__social">
							<li class="menu__item"><a href="" class="icon"><i class="fab fa-github"></i></a></li>
							<li class="menu__item"><a href="" class="icon"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</section>
				</nav>
			</div>
		</div>
	</header>

	<div class="hero-center">
		<section class="container is-fluid has-text-centered">
			<h1 class="title is-1 is-size-3-touch has-text-weight-extra-bold">
				Hi, I'm Colby.
			</h1>
			<h2 class="title is-3 is-size-5-touch">
				I develop awesome software for the web.
			</h2>
		</section>
		<section class="margin-top">
			<div class="columns is-centered is-gapless">
				<div class="column is-half">
					<div class="console">
						<span class="console__prompt">&dollar;<!-- &#10095; --></span>
						<span class="console__input">npm install --save react</span>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<nav class="columns is-centered is-size-5 is-lowercase has-text-centered">
				<div class="column is-1">
					<a class="link--primary" href="#">Work</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Blog</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Code</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Contact</a>
				</div>
			</nav>
		</section>
	</div>

	<div class="hero-foot">
		<!-- noop -->		
	</div>

</main>

