"title": "My Title",
"date": "2013/7/13 20:46:25"
;;;

<nav class="level">
	<!-- Left side -->
	<div class="level-left">
		<div class="level-item">
			<div class="wordmark">
				CR
			</div>
		</div>
		</div>
	</div>

	<!-- Right side -->
	<div class="level-right">
		<button class="hamburger hamburger--squeeze" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
	</div>
</nav>

<section class="hero">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-1 has-text-weight-extra-bold">
				Hi, I'm Colby.
			</h1>
			<h2 class="title is-3">
				I develop awesome software for the web.
			</h2>
		</div>
	</div>
</section>

<section class="hero">
	<div class="hero-body">
		<div class="container">
			<div class="console level">
				<div class="level-left">
					<span class="level-item console__carat">&rsaquo;</span>
					<span class="level-item console__prompt">&dollar;</span>
					<span class="level-item console__input">npm install --save react</span>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="section">
	<div class="container">
		<h1 class="title">
			Hello World
		</h1>
		<p class="subtitle">
			My first website with <strong>Bulma</strong>!
		</p>
	</div>
</section> -->
