"title": "My Title",
"date": "2013/7/13 20:46:25"
;;;

<main class="hero is-fullheight">
	
	<header class="hero-head header">
		<div class="level is-mobile">
			<div class="level-left">
				<div class="level-item">
					<div class="wordmark">
						CR
					</div>
				</div>
			</div>

			<div class="level-right">
				<nav class="menu-toggle">
					<button class="hamburger hamburger--squeeze" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
						<input type="checkbox" />
					</button>
					<section id="menu">
						<a href="#">Home</a>
						<a href="#">About</a>
						<a href="#">Info</a>
						<a href="#">Contact</a>
						<a href="https://erikterwan.com/" target="_blank">Show me more</a>
					</section>
				</nav>
			</div>
		</div>
	</header>

	<div class="hero-center">
		<section class="container is-fluid has-text-centered">
			<h1 class="title is-1 is-size-3-touch has-text-weight-extra-bold">
				Hi, I'm Colby.
			</h1>
			<h2 class="title is-3 is-size-5-touch">
				I develop awesome software for the web.
			</h2>
		</section>
		<section class="margin-top">
			<div class="columns is-centered is-gapless">
				<div class="column is-half">
					<div class="console">
						<span class="console__prompt">&dollar;<!-- &#10095; --></span>
						<span class="console__input">npm install --save react</span>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<nav class="columns is-centered is-size-5 is-lowercase has-text-centered">
				<div class="column is-1">
					<a class="link--primary" href="#">Work</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Thoughts</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Code</a>
				</div>
				<div class="column is-1">
					<a class="link--primary" href="#">Connect</a>
				</div>
			</nav>
		</section>
	</div>

	<div class="hero-foot">
		<!-- noop -->		
	</div>

</main>
