"title": "Contact",
"date": "2018/1/23 20:46:25",
"layout": "hero"
;;;
<section class="container is-fluid margin-sides has-text-centered">
	<h1 class="title is-1 is-size-3-touch has-text-weight-extra-bold">
		Let's get in touch.
	</h1>
	<h2 class="subtitle is-3 is-size-5-touch has-text-weight-semibold">
		<a class="link--primary" href="#">
			<i class="fas fa-envelope"></i>
			 hi@colbin8r.me
		</a>
	</h2>
</section>
