"title": "Home",
"date": "2013/7/13 20:46:25",
"layout": "hero"
;;;

<section class="container is-fluid margin-sides has-text-centered">
	<h1 class="title is-1 is-size-3-touch has-text-weight-extra-bold">
		Hi, I'm Colby.
	</h1>
	<h2 class="title is-3 is-size-5-touch">
		I develop awesome software for the web.
	</h2>
</section>

<section class="margin-top">
	<div class="columns is-centered is-gapless">
		<div class="column is-half">
			<div class="console">
				<span class="console__prompt">&dollar;<!-- &#10095; --></span>
				<span class="console__input">npm install --save react</span>
			</div>
		</div>
	</div>
</section>

<section class="margin-top">
	<nav class="columns is-centered is-size-5 is-lowercase has-text-centered">
		<div class="column is-1">
			<a class="link--primary" href="/work">Work</a>
		</div>
		<div class="column is-1">
			<a class="link--primary" href="/blog">Blog</a>
		</div>
		<div class="column is-1">
			<a class="link--primary" href="/about">About</a>
		</div>
		<div class="column is-1">
			<a class="link--primary" href="/contact">Contact</a>
		</div>
	</nav>
</section>

